body { 
    background-color: #FFF2D8;
}

#titulo {
    text-align: center;
}
/* inserir tamanho de fonte no parágrafo*/
.texto {
    text-align: center;
    color:rgb(197, 60, 156);
    font-size: 30px;
}

